#cash-flow-tool {
  text-align: center;

  .cft-title {
    margin: 0;
    padding: 20px;
    color: #ffffff;
    background: #66c368;
  }

  ul {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 20px 0;

    a {
      text-decoration: none;
      color: #000000;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 3px;
      &:hover,
      &:focus {
        color: #66c368;
        border-color: #66c368;
      }
    }
  }

  .tool-section {
    padding: 0 3rem;

    .tool-section-title {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  .input-form {
    .period-select {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px;

      label {
        margin-right: 15px;
      }
    }

    .input-list {
      margin-bottom: 15px;
    }

    .input-item {
      input,
      select {
        width: 40%;
        text-align: center;
        margin-right: 10px;
      }

      select {
        width: 30%;
        margin-right: 15px;
      }
    }

    .add-income,
    .add-expense {
      font-size: 2rem;
      line-height: 2rem;
      padding-top: 4px;
      padding-right: 2px;
      border: 2px solid #5f5f5f;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #66c368;
        border-color: #66c368;
      }
    }
  }

  .form-nav {
    display: flex;
    justify-content: space-around;
    button {
      display: block;
      margin: 20px auto;
      text-align: center;
    }
  }

  .net-cash-flow {
    margin-top: 2.5rem;

    .title {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    .value {
      margin-top: 0.5rem;
      font-size: 1.5rem;

      .icon {
        margin-right: 10px;
        font-size: 2rem;
      }

      &.negative {
        color: #b63014;
      }

      &.positive {
        color: #66c368;
      }
    }
  }
}
