#cash-flow-tool {
  text-align: center;
  background: #ffffff;

  .cft-title {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background: #66c368;
    font-size: 1.5rem;
  }

  #cft-nav {
    ul {
      display: flex;
      justify-content: space-around;
      text-transform: uppercase;
      list-style: none;
      margin: 0;
      padding: 20px 0;
      
      a {
        font-size: .75rem;
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 3px;
        &:hover,
        &:focus {
          color: #66c368;
          border-color: #66c368;
        }
      }

      li.active a {
        color: #66c368;
        border-color: #66c368;
        font-weight: bold;
      }
    }
  }

  .tool-section {
    padding: 0 .5rem;

    .tool-section-title {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  .input-form {
    .period-select {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px;

      label {
        margin-right: 16px;
      }
    }

    .input-list {
      margin-bottom: 15px;
    }

    .input-item {
      margin-top: 5px;

      input,
      select {
        width: 40%;
        text-align: center;
        margin: 0;
        margin-right: 10px;
      }

      select {
        width: 30%;
        margin-right: 15px;
      }
    }

    .add-row {
      font-size: 2rem;
      line-height: 2rem;
      padding-top: 4px;
      padding-right: 2px;
      display: inline-block;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #66c368;
        border-color: #66c368;
      }
    }

    .delete-row {
      cursor: pointer;
    }
  }

  .form-nav {
    display: flex;
    justify-content: space-around;
    button {
      display: block;
      margin: 20px auto;
      text-align: center;
      padding: 1rem;
    }
  }

  .net-cash-flow {
    text-transform: capitalize;
    margin-top: 2.5rem;

    .title {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    .value {
      margin-top: 0.5rem;
      font-size: 1.5rem;

      .icon {
        margin-right: 10px;
        font-size: 2rem;
      }

      &.negative {
        color: #b63014;
      }

      &.positive {
        color: #66c368;
      }
    }
  }

  .next-steps {
    border: 2px solid;
    margin: 15px auto 0 auto;
    padding: 1rem;
    padding-top: 0;
    max-width: 800px;

    .resource {
      text-align: left;

      button {
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 100%;
        padding: 1rem;
        color: #ffffff;
        cursor: pointer;
      }
    }

    &.debt {
      border-color: #b63014;

      .title,
      span,
      h3 {
        color: #b63014;
      }

      button {
        background: #b63014;
        &:hover,
        &:focus {
          background: #d14124;
          text-decoration: underline;
        }
      }
    }

    &.investment {
      border-color: #1e9642;

      .title,
      span,
      h3 {
        color: #1e9642;
      }

      button {
        background: #1e9642;
        &:hover,
        &:focus {
          background: #20aa3f;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 322px ){
  #cash-flow-tool #cft-nav ul li a{
    font-size: .5rem;
  }
}