.cash-flow-hero {
  background: #1e9642;
  color: #ffffff;
  text-align: center;
  padding: 1rem 3rem;

  .icon {
    font-size: 3rem;
  }

  .title {
    margin: 0 auto;
    font-size: 3rem;
  }

  .tagline {
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .launch-tool {
    background: #ffffff;
    color: #20aa3f;
    border-color: #ffffff;

    &:hover,
    &:focus {
      background: #1e9642;
      color: #ffffff;
    }
  }
}
