#siteNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #20aa3f;
  color: #ffffff;
  padding: 20px 0 20px 20px;

  .logo {
    margin-right: 10px;
  }

  ul {
    list-style: none;
  }

  .title {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: #ffffff;

  }
}

@media screen and (max-width: 450px){
  #siteNav{
    justify-content: center;
    padding: 10px;
    flex-direction: column;
  }
}
